// Button Styles - Remove all rounded corners
.btn,
button,
a.btn,
input[type="button"],
input[type="submit"] {
    border-radius: 0px !important;
    padding: 12px 24px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-brand-1 {
    background-color: $color-brand-1;
    color: $color-white;
    border: none;
    border-radius: 0px !important;
    padding: 14px 28px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    
    &:hover {
        background-color: darken($color-brand-1, 10%);
        color: $color-white;
    }
}

.btn-brand-1-big {
    background-color: $color-brand-1;
    color: $color-white;
    border: none;
    border-radius: 0px !important;
    padding: 18px 40px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    
    &:hover {
        background-color: darken($color-brand-1, 10%);
        color: $color-white;
    }
}

.btn-brand-2 {
    background-color: $color-brand-2;
    color: $color-white;
    border: none;
    border-radius: 0px !important;
    
    &:hover {
        background-color: darken($color-brand-2, 10%);
        color: $color-white;
    }
}

.btn-default {
    border-radius: 0px !important;
    background-color: $color-gray-100;
    color: $color-brand-2;
    border: 1px solid $color-gray-300;
    
    &:hover {
        background-color: $color-gray-200;
        color: $color-brand-2;
    }
}

.btn-get-quote {
    border-radius: 0px !important;
    background-color: $color-brand-1;
    color: $color-white;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    
    &:hover {
        background-color: darken($color-brand-1, 10%);
        color: $color-white;
    }
    
    svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}

.btn-link {
    border-radius: 0px !important;
    background: transparent;
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}

// Ensure all form controls also have no rounded corners
.form-control,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="search"],
textarea,
select {
    border-radius: 0px !important;
}

