.box-background-offer {
    position: relative;
    .bg-under {
        position: absolute;
        bottom: -30px;
        top: -30px;
        left: -100px;
        right: -100px;
        background-color: $color-navy-dark-2;
        z-index: 1;
    }
    .row {
        z-index: 2;
        position: relative;
    }
}
.box-images {
    position: relative;
    padding: 20px;
    img {
        z-index: 2;
        position: relative;
    }
    &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -20px;
        top: -30px;
        z-index: 1;
        right: 0px;
        left: 0px;
        background-color: $color-brand-2;
        -webkit-mask-image: url(../imgs/page/homepage1/subtract.png);
        mask-image: url(../imgs/page/homepage1/subtract.png);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
    }
}
.image-2 {
    position: absolute;
    bottom: 120px;
    right: -10px;
    z-index: 3;
    width: 111px;
    height: 136px;
}