.bg-customers-say {
    background-color: $color-brand-2;  // Navy background
    background-image: url(../imgs/page/homepage1/ship.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 133px 0px 100px 0px;
    position: relative;
    // Text on navy backgrounds should be white or light gray (not red)
    h1, h2, h3, h4, h5, h6 {
        color: $color-white !important;
    }
    p, span, div {
        color: $color-gray-200 !important;  // Light gray for body text
    }
    .color-white {
        color: $color-white !important;
    }
    // Buttons can still use red
    .btn-brand-1 {
        background-color: $color-brand-1 !important;
        color: $color-white !important;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        top: 165px;
        right: 0px;
        max-width: 50%;
        width: 100%;
        background-image: url(../imgs/page/homepage1/bg-testimonial.png);
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    &::after {
        content: "";
        position: absolute;
        top: 195px;
        right: 30px;
        max-width: 72px;
        height: 73px;
        width: 100%;
        background-image: url(../imgs/page/homepage1/quotation.png);
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 2;
    }
}