.banner-left {
    background-color: $color-brand-2;  // Navy background
    padding: 70px 53px;
    position: relative;
    // Text on navy backgrounds should be white or light gray
    h1, h2, h3, h4, h5, h6 {
        color: $color-white !important;
    }
    p, span, div {
        color: $color-gray-200 !important;  // Light gray for body text
    }
    .color-white {
        color: $color-white !important;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100px;
        width: 100px;
        background-image: url(../imgs/page/homepage3/union.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.box-banner-homepage3 {
    position: relative;
    .banner-under {
        position: absolute;
        top: 0px;
        left: -96px;
        right: -96px;
        height: 662px;
        z-index: 1;
        background: url(../imgs/page/homepage3/banner.png) no-repeat top center;
        background-size: cover;
    }
    .row {
        position: relative;
        z-index: 2;
    }
    .container {
        padding-top: 230px;
    }
}
.item-feature {
    position: relative;
    display: flex;
    align-items: center;
    .icon-feature {
        min-width: 48px;
        max-width: 48px;
        margin-right: 19px;
    }
    .info-feature {
        width: 100%;
    }
}