.box-bg-leading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;  // Use 100% to fill the section height
    min-height: 940px;  // Minimum height to ensure background covers content
    background-color: $color-brand-2;  // Navy background
    background-image: url(../imgs/page/homepage1/container.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    pointer-events: none;  // Prevent interaction issues
    // Text on navy backgrounds should be white or light gray
    h1, h2, h3, h4, h5, h6 {
        color: $color-white !important;
    }
    p, span, div {
        color: $color-gray-200 !important;  // Light gray for body text
    }
    .color-white {
        color: $color-white !important;
    }
}
.bg-leading-company {
    position: relative;
    background-color: $color-gray-100;
    padding-top: 95px;  // Top padding
    padding-bottom: 120px;  // Increased bottom padding for spacing
    min-height: 940px;  // Minimum height to match the absolute background
    overflow: hidden !important;  // Contain absolute positioned element - this is critical
    margin-bottom: 0 !important;  // Ensure no extra margin
    display: block !important;  // Ensure block display
    .container {
        position: relative;
        z-index: 2;
    }
}
.box-form-contact-leading {
    background-color: $background-white;
    background-image: url(../imgs/page/homepage1/bg-contact.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 40px 60px 60px;
    box-shadow: $box-shadow-1;
    margin-top: 40px;
}
.box-image-contact {
    position: relative;
    padding-left: 20px;
    img {
        width: 100%;
        border-radius: 8px;
    }
    &::before {
        content: "";
        height: 95px;
        width: 80px;
        position: absolute;
        bottom: -30px;
        right: -25px;
        background-image: url(../imgs/page/homepage1/icon2.png);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }
}
.form-group {
    margin-bottom: 24px;
}
.form-control {
    border-radius: 0px;
    color: $color-gray-500;
    font-size: 12px;
    line-height: 18px;
    height: 51px;
}
select {
    background-image: url(../imgs/template/icons/arrow-down.svg);
    background-position: right 18px top 22px;
    background-repeat: no-repeat;
}
textarea.form-control {
    height: auto;
}
.cd-form {
    float: left;
    margin: 1px 10px 0px 0px;
}
.box-cb-form {
    .form-group {
        margin-bottom: 12px;
    }
}